<h2>ReadLog</h2>
<div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px; text-align: center;">
    <div style="background-color: #a0b1c0; padding: 20px; border-radius: 10px;"><p>読んだ本</p><p>0冊</p></div>
    <div style="background-color: #c0d0a0; padding: 20px; border-radius: 10px;"><p>読んでる本</p><p>0冊</p></div>
    <div style="background-color: #c0b0a0; padding: 20px; border-radius: 10px;"><p>積読本</p><p>0冊</p></div>
    <div style="background-color: #d0d0c0; padding: 20px; border-radius: 10px;"><p>読みたい本</p><p>0冊</p></div>
</div>